.allphases {
  align-items: center;
  justify-content:center;

}
.phase {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.phase1 {
  justify-content:center;
  width: 100%;
  height: auto;
  margin-bottom: 25px;

}

.phase img {
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
}

.title {
  font-family: Helvetica, Arial, sans-serif;;
  font-weight: bold;
  font-size: 30px;
  color: #00666D;
  margin-top: 40px;
  margin-bottom: 40px;
  padding:0;
}




.centertext {
  text-align: center;
}



.circle {
  background: #9A0D19;
  width: 45%;
  height: 95%;
  border-radius: 100%;
  margin-left: 5%;
  display: table; /* Para poder centrar el texto verticalmente */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.textphotos {
  font-size: 30px;
  /*  Display: table-cell y vertical-align middle nos centran el texto verticalmente */
  display: table-cell;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 12px;
  line-height: 1.35;

}

.textphotos1 {
  font-size: 15px;
  /*  Display: table-cell y vertical-align middle nos centran el texto verticalmente */
  display: table-cell;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #00666D ;
  line-height: 1.35;
  padding: 13%;
}

p {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #00666D ;
  line-height: 1.35;
  margin:0;
  padding-left: 25px;

}

.textphotos1 p {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  color: #00666D ;
  line-height: 1.35;
  font-weight: normal;
}

.dosmilfilms p {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: #00666D ;
  line-height: 1.35;
  font-weight: normal;
}

.textphotos b {
  display: block;
  font-weight: normal;
}

.photos {
  width: 85%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
}

.lastphoto {
    width: 85%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;
}

.lastphoto img {
  border-radius: 100%;
  width: 30%;
  display: flex;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* .square {
  background: #9A0D19;
  width: 40%;
  height: 87%;
  border-radius: 10%;
  margin-left: 5%;
  display: table;  Para poder centrar el texto verticalmente
  text-align: center;
} */


.circle:hover {
    background:#B3B3B3;
    cursor: pointer;
    /* width: 50%;
    height: 100%; */
    /* transform: scale(15%); */
}

/* .square:hover {
    background:#00666D;
    cursor: pointer;
} */

.textphotos:hover{
    color: black;
    font-size: 15px;
    font-weight: bold;

}

.text {
  background: #9A0D19;
  margin-top: 20px;
}

.header {
  flex-direction: row;
  align-items: center;
}

.dosmil {
  font-size: 15px;
  /*  Display: table-cell y vertical-align middle nos centran el texto verticalmente */
  display: table-cell;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.35;
  padding: 13%;
  padding: 0;
  color: #9A0D19;
}

.dosmil a {
  text-decoration: none;
}

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #9A0D19;
  text-decoration: none;
}

.navigation-link {
  margin: 0;
  width: 100%;
  display: inline;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
}

.navigation-list {
  display: flex;
  margin-top: 20px;
  padding:0;
}

@media only screen and (min-width: 650px) {
  .phase {
    display: flex;
    display:inline-block;
    justify-content: flex-start;

    width: 40%;
    height: auto;

  }
  .allphases {
    align-items: center;

  }

}
